**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/publish
**/logs
**/*.md
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.github
**/.idea
**/.vs
**/*.user
**/*.suo
**/.env
**/.env.*
**/node_modules
**/.gitattributes
